/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}


/* Layout */

#area-cabecalho{
    background-color: #f7b600;
    padding: 15px;

    text-align: center;
}

#area-logo,#area-menu{
    padding: 8px 12px;
}
/* formatação do  menu */

a{
    text-decoration: none;
}
a:link, a:visited{
    color: #f7b600;
}
a:hover{
    text-decoration: underline;
}
#area-menu a{
    padding: 10px;
}
#area-menu a:link,a:visited{
    color: #fff;
}
#area-menu a:hover{
    color: #f7b600;
    background-color: #fff;
    text-decoration: none;
}

/* formatações gerais */
 h1{
    color: #4e4e4e;
    font-size: 2.5em;
}
h1 span{
    color: #fff;
}


/* area principal */
#area-principal{
    width: 920px;
    margin: 20px auto;
}
#area-postagens{
    width: 660px;
    float: left;

}
.postagem{
    padding: 20px;
    margin-bottom: 20px;

    background-color: #fff;
    border-radius: 5px;
}
.postagem img{
    width: 620px;
    border-radius: 5px;
}
.postagem h2{
    color: #f7b600;
}
.postagem span{
    font-size: 0.75em;
    border-bottom: 1px solid #f4f4f4;

    display:inline-block;
    padding-bottom: 10px;
}
.postagem p{
    padding: 10px 0;
}
#area-lateral{
    width: 240px;
    float: right;
    background-color: #fff;


}
.conteudo-lateral{
    background-color: #fff;
    border-radius: 5px;

    padding: 8px 12px 28px 12px;
    /* margin-bottom: 20px; */
    border-bottom:  1px solid #ccc;
}
.conteudo-lateral:last-child{
    border: none;
}
.conteudo-lateral h3{
    background-color: #f4f4f4;
    display: block;
    padding: 5px;

    color: #565656;
}
.postagem-lateral p{
    display: block;
    padding: 5px 0;
}

.categorias{
    list-style: none;
}
.categorias a{
    display: inline-block;
    padding: 5px 0;
}

#rodape{
    background-color: #ccc;
    padding: 15px;

    text-align: center;
    clear: both;

}

/* mobile */
@media only screen and (max-width: 900px){
    #area-principal{
        max-width: 768px;
        margin: 20px auto;
    }
    #area-postagens{
        max-width: 520px;
        float: left;
    
    }
    .postagem img{
        max-width: 480px;
        border-radius: 5px;
    }
    #area-lateral{
        max-width: 160px;
        float: right;
        background-color: #fff;
    
    
    }  
}

@media only screen and (max-width: 770px){
    #area-principal{
        max-width: 500px;
        margin: 20px auto;
    }
    #area-postagens{
        max-width: 340px;
        float: left;
    
    }
    .postagem img{
        max-width: 310px;
        border-radius: 5px;
    }
    #area-lateral{
        max-width: 140px;
        float: right;
        background-color: #fff;
    
    
    }  
}
@media only screen and (max-width: 600px){
    #area-principal{
        max-width: 300px;
        margin: 20px auto;
    }
    #area-postagens{
        width: 100%;
        float: none;
    
    }
    .postagem img{
        max-width: 270px;
        border-radius: 5px;
    }
    #area-lateral{
        width: 100%;
        float: none;
        background-color: #fff;
    }  
    .conteudo-lateral{
        width: 300px;
    }
}